
  <!-- <div>
    
<div  class="container" style="height: 100vh;">
  <br/>

  <div style="padding-top: 50px; text-align: center;">
    <h1><b>Store System</b></h1>

    <div style="display: flex; align-items: center; justify-content: center; ">    <img src="../assets/almcen-icon.jpeg">
    </div>

  </div>

  <div class="col-md-8 col-10 my-4 justify-content-center">

      <form class="form-signin">
          <h1 class="form-signin-heading text-muted">Ingresar</h1>
          <input type="text" class="form-control" placeholder="email" required="" autofocus="">
          <input type="password" class="form-control" placeholder="contraseñas" required="">
          <br/>

          <button class="btn btn-lg btn-send btn-block" type="submit">
              Ingresar
          </button>
      </form>
  
  </div>
</div>
  </div> -->
<div class="" id="main-container">
   <div class="mail-box">
                    <aside class="sm-side">
                        <div class="user-head">
                            <a class="inbox-avatar" href="javascript:;">
                                <img  width="64" hieght="60" src="../assets/almcen-icon.jpeg">
                            </a>
                            <div class="user-name">
                                <h5><a class="font-weight-bold" style="font-weight: bold;" href="#">Store System</a></h5>
                                <span><a href="#">Gestión del almacén</a></span>
                            </div>
                            <!-- <a class="mail-dropdown pull-right" href="javascript:;">
                                <i class="fa fa-chevron-down"></i>
                            </a> -->
                        </div>
                        <div class="inbox-body">
                            <a href="#myModal" data-toggle="modal"  title="Compose"    class="btn btn-compose">
                                Salir
                            </a>
                            <!-- Modal -->
                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Seguro/a de que desea salir del sistema?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                                    <button type="button" class="btn btn-danger" >Salir</button>
                                  </div>
                                </div>
                              </div>
                            </div><!-- /.modal -->
                        </div>
                        <ul class="inbox-nav inbox-divider">
                            <li [ngClass]="{'active': paginaActual === 'productos'}">
                                <a  (click)="onNavegar('productos')"><i class="fa fa-barcode"></i> Productos <span class="label label-danger pull-right"></span></a>
  
                            </li>
                            <li [ngClass]="{'active': paginaActual === 'clientes'}">
                                <a (click)="onNavegar('clientes')"><i class="fa fa-barcode"></i> Clientes <span class="label label-danger pull-right"></span></a>
  
                            </li>
                            <li [ngClass]="{'active': paginaActual === 'proveedores'}">
                                <a (click)="onNavegar('proveedores')"><i class="fa fa-barcode"></i> Proveedores <span class="label label-danger pull-right"></span></a>
  
                            </li>
                           
                        </ul>
   <!--                      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                            <li> <h4>Labels</h4> </li>
                            <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a> </li>
                            <li> <a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a> </li>
                            <li> <a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
                            </li><li> <a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
                            </li><li> <a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
                            </li>
                        </ul> -->
                       <!--  <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Buddy online</h4> </li>
                            <li> <a href="#"> <i class=" fa fa-circle text-success"></i>Alireza Zare <p>I do not think</p></a>  </li>
                            <li> <a href="#"> <i class=" fa fa-circle text-danger"></i>Dark Coders<p>Busy with coding</p></a> </li>
                            <li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Mentaalist <p>I out of control</p></a>
                            </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>H3s4m<p>I am not here</p></a>
                            </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Dead man<p>I do not think</p></a>
                            </li>
                        </ul> -->
  
                        <!-- <div class="inbox-body text-center">
                            <div class="btn-group">
                                <a class="btn mini btn-primary" href="javascript:;">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn mini btn-success" href="javascript:;">
                                    <i class="fa fa-phone"></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn mini btn-info" href="javascript:;">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </div>
                        </div> -->
  
                    </aside>
                    <aside >
                       <app-productos *ngIf="paginaActual == 'productos'"  class="lg-side"></app-productos>
                       <app-clientes *ngIf="paginaActual == 'clientes'" class="lg-side"></app-clientes>
                       <app-proveedores *ngIf="paginaActual == 'proveedores'"  class="lg-side"></app-proveedores>

                    </aside>
                </div>
  </div>