
<div class="inbox-head">
    <h3>Clientes</h3>
    <form action="#" class="pull-right position">
        <div class="input-append">
            <input type="text" class="sr-input" placeholder="Buscar Clientes">
            <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>
<div class="inbox-body">
   <div class="mail-option">

       <div class="btn-group">
        <a (click)="onOpenModal(null,'agregar')" class="btn">
            Nuevo Cliente
            <i class="fa fa-plus "></i>
        </a>
          <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="nuevoClienteModalLabel" role="dialog" tabindex="-1" id="agregarClienteModal" class="modal fade" style="display: none;">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button #closeButton aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                  <h4 class="modal-title">Registrar Nuevo Cliente</h4>
              </div>
              <div class="modal-body">
                  <form #agregarForm="ngForm" (ngSubmit)="onAgregarCliente(agregarForm)" class="form-horizontal">

                      <div class="form-group">
                          <label class="col-lg-2 control-label">RUC</label>
                          <div class="col-lg-10">
                              <input type="text" name="ruc" ngModel required placeholder="" id="cc" class="form-control">
                          </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label">Nombre</label>
                        <div class="col-lg-10">
                            <input type="text" name="nombre" ngModel required placeholder="" id="cc" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Direccion</label>
                        <div class="col-lg-10">
                            <input type="text" name="direccion" ngModel required placeholder="" id="cc" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Telefono</label>
                        <div class="col-lg-10">
                            <input type="text" name="telefono" ngModel required placeholder="" id="cc" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Mail</label>
                        <div class="col-lg-10">
                            <input type="text" name="mail" ngModel required placeholder="" id="cc" class="form-control">
                        </div>
                    </div>

                      <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                              <button type="button" id="agregar-cliente-form" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              <button [disabled]="agregarForm.invalid" class="btn btn-send" type="submit">Guardar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
         <!-- Modal -->
         <div aria-hidden="true" aria-labelledby="nuevoClienteModalLabel" role="dialog" tabindex="-1" id="editarClienteModal" class="modal fade" style="display: none;">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button #closeButtonEditar aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                      <h4 class="modal-title">Editar Cliente</h4>
                  </div>
                  <div class="modal-body">
                    <form #editarForm="ngForm"  class="form-horizontal">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Codigo Cliente</label>
                            <div class="col-lg-10">
                                <input type="text" ngModel="{{cliente?.id}}" name="id" ngModel placeholder="" id="cc" class="form-control" readonly="readonly">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">RUC</label>
                            <div class="col-lg-10">
                                <input type="text" ngModel="{{cliente?.ruc}}" name="ruc" ngModel required placeholder="" id="cc" class="form-control">
                            </div>
                        </div>
  
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Nombre</label>
                          <div class="col-lg-10">
                              <input type="text" ngModel="{{cliente?.nombre}}" name="nombre" ngModel required placeholder="" id="cc" class="form-control">
                          </div>
                      </div>
  
                      <div class="form-group">
                          <label class="col-lg-2 control-label">Direccion</label>
                          <div class="col-lg-10">
                              <input type="text" ngModel="{{cliente?.direccion}}" name="direccion" ngModel required placeholder="" id="cc" class="form-control">
                          </div>
                      </div>
  
                      <div class="form-group">
                          <label class="col-lg-2 control-label">Telefono</label>
                          <div class="col-lg-10">
                              <input type="text" name="telefono"  ngModel="{{cliente?.telefono}}"  required placeholder="" id="cc" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-2 control-label">Mail</label>
                          <div class="col-lg-10">
                              <input type="text" name="mail" ngModel="{{cliente?.mail}}" required placeholder="" id="cc" class="form-control">
                          </div>
                      </div>
                     
                      <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                              <button type="button" id="agregar-cliente-form" class="btn btn-secondary" style="margin-right: 10px;" data-dismiss="modal">Cancelar</button>
                              <button (click)="onEditarCliente(editarForm.value)" class="btn btn-send" type="submit">Guardar</button>
                          </div>
                      </div>
                  </form>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="eliminarClienteModal" class="modal fade" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button #closeButtonEliminar type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Seguro/a de que desea eliminar este cliente? {{clienteAEliminar?.nombre}}</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            <button (click)="onEliminarCliente(clienteAEliminar?.id!)" type="button" class="btn btn-danger" >Eliminar</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal -->
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
            <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
        </ul>
    </div>

       <ul class="unstyled inbox-pagination">
           <li><span>{{clientes.length}} clientes</span></li>
<!--                                   <li>
               <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
           </li>
           <li>
               <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
           </li> -->
       </ul>
   </div>
    <table class="table table-inbox table-hover">
      <tbody>
        <tr class="" *ngFor="let cliente of clientes">
<!--                                   <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
--> 
          <td class="inbox-small-cells">
              {{cliente.id}}
               <!--  <input type="checkbox" class="mail-checkbox"> -->
            </td>
            <td class="view-message  dont-show">{{cliente.nombre}}</td>
            <td class="view-message ">{{cliente.ruc}}</td>
            <td class="view-message button-group ">
<!--                                     <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
-->                                    <button (click)="onOpenModal(cliente,'editar')" type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
            <button (click)="onOpenModal(cliente,'eliminar')" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
        </tr>
       
        
    
       
    </tbody>
    </table>
</div>